<div class="col-sm-9" ng-controller="jiraCtrl">
	<div class="row">
		<div class="col-md-12">
			<div class="spacer"></div>
			<form class="form-horizontal">
				<div class="input-group input-group-lg">
					<div ng-show="isLoading" ng-class="{'glyphicon-loader-grey':true}"></div> 
					<span class="input-group-addon">{{jiraReq.schema}}://{{jiraReq.host}}{{jiraReq.context}}</span>
					<input type="text" class="form-control" placeholder="enter REST API here..." ng-model="jiraReq.api" ng-keydown="callJiraRest($event)">
	                <span class="input-group-btn">
	                	<button type="button" id="issue" class="btn btn-warning" ng-click="callJiraRest()">Send</button>
	              </span>
				</div>
			</form>
		</div>
	</div>

	<div class="spacer"></div>

	<div class="row">

			<div class="col-md-10">
				<textarea rows="28" id="result" name="result" class="form-control" ng-model="result"></textarea>
			</div>
	</div>

</div>