<div class="col-sm-9" ng-controller="jiraCtrl">
	<div class="row">
		<div class="col-md-12">
			<div class="spacer"></div>
			<form class="form-horizontal">
				<div class="input-group input-group-lg">
					<span class="input-group-addon">{{jiraReq.schema}}://{{jiraReq.baseUrl}}</span>
					<input type="text" class="form-control" placeholder="enter REST API here..." ng-model="jiraReq.path">
				</div>
			</form>
		</div>
	</div>

  	<div class="spacer"></div>
	
	<div class="row">
      <div class="col-md-12">
        <div ng-show="command.isLoading" ng-class="{'glyphicon-loader-grey':true}"></div> 
        <button type="button" id="btn-diff-branch" class="btn btn-warning" ng-click="callJiraRest()">Send</button>
      </div>
	</div>

	<div class="spacer"></div>

	<div class="row">

			<div class="col-md-10">
				<textarea rows="28" id="result" name="result" class="form-control" ng-model="result"></textarea>
			</div>
	</div>

</div>