<ul class="list-unstyled">
  <li class="nav-header"> 
    <h5><a ui-sref="links" href="#"><i class="glyphicon glyphicon-link"></i> Links</a></h5>
  </li>
  <li class="nav-header"> 
    <h5><a ui-sref="jira" href="#"><i class="glyphicon glyphicon-cloud"></i> Jira REST</a></h5>
  </li>
  <li class="nav-header"> 
    <a href="#" data-toggle="collapse" data-target="#userMenu">
    	<h5><i class="glyphicon glyphicon-list"></i> Repositories  <i class="glyphicon glyphicon-chevron-down"></i></h5>
    </a>
      <ul class="list-unstyled collapse in" id="userMenu">
      <li> 
        <button type="button" class="btn btn-primary btn-xs" ng-click="getSourceChange()">check changes</button>
      </li>
      <li>
        <div>
          <select id='multiselectid' multiple ng-model="visibleRepoNames" data-placeholder="Select Repositories to display" ng-options="repo.name for repo in allRepoList track by repo.name"></select>
        </div>
      </li>
      <li ng-repeat="repo in repoList" ng-show="repo.isVisible"> 
        <a href="#" ng-click="getRepoDetail(repo)" ng-mouseover="popover(repo, $event)" data-toggle="popover" title="{{repo.info}}">

          <i ng-show="!repo.isLoading" ng-class="{'glyphicon':true, 'glyphicon-list-alt':true, 'warning':repo.hasIncomingChange}"></i>
          <div ng-show="repo.isLoading" ng-class="{'glyphicon-loader':true}"></div> 

          <span ng-class="{'bold':repo.isCurrent}">{{repo.name}} ({{repo.branch.name}})</span>
        </a>
      </li>
      </ul>
  </li>
  <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2">
    <h5><i class="glyphicon glyphicon-cog"></i> Settings <i class="glyphicon glyphicon-chevron-right"></i></h5>
    </a>
  </li>
  <li class="nav-header">
  <a href="#" data-toggle="collapse" data-target="#menu3">
    <h5>Resources <i class="glyphicon glyphicon-chevron-right"></i></h5>
    </a>
  
      <ul class="list-unstyled collapse" id="menu3">
          <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Useful Links</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Documents</a></li>
      </ul>
  </li>
  </li>
   <li class="nav-header"> 
    <a ui-sref="calculator">
      <h5>Calculator</h5>
    </a>
  </li>
</ul>
     
<hr>

<a href="#"><strong><i class="glyphicon glyphicon-link"></i> Attachments</strong></a>  

<hr>