<div class="col-sm-9" ng-controller="linksCtrl">
  <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
    <div class="panel panel-info">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <strong>Infomedix Wiki</strong>
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
        <button class="btn btn-success" ng-if="currentAction == 'New'" ng-click="addItem()" type="button">New</button>
        <button class="btn btn-success" ng-if="currentAction == 'Save'" ng-click="saveItem()" type="button">Save</button>
        <button class="btn btn-warning" ng-if="currentAction == 'Save'" ng-click="cancelItem()" type="button">Cancel</button>
        <!-- <button class="btn btn-danger" ng-click="deleteItem()" type="button">Delete</button> -->

          <table class="table">
            <thead>
              <tr ng-repeat="item in items" ng-if="$index == 0">
                <th ng-repeat="key in item | keys">{{key}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in items">
                <td ng-if="!item.$$editable" ng-repeat="key in item | keys" ng-init="value=item[key]" ng-switch on="key">
                  <a target="_blank" href="{{value}}" ng-switch-when="url">{{value}}</a>
                  <span ng-switch-default>{{value}}</span>
                </td>

                <td ng-if="item.$$editable" ng-repeat="key in item | keys">
                  <input ng-if="key != 'id'" ng-model="item[key]"></input>
                  <span ng-if="key === 'id'">{{item[key]}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
    <div class="panel panel-info">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <strong>Infomedix JIRA</strong>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Ticket</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="https://jira.objectconsulting.com.au/browse/CPFDEV-3871" target="_blank">CPFDEV-3871 BDD Tests running against CPF</a>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
    <div class="panel panel-info">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>Object Consulting</strong>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Description</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="https://changepoint.objectconsulting.com.au/" target="_blank">Changepoint</a>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <a href="https://sharepoint.objectconsulting.com.au/staff_services/HR/Lists/Leave Form/" target="_blank">Leave Form on Sharepoint</a>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>