<div id="debug-info-container" class="alert alert-warning" role="alert">
  <div class="container-fluid">
  	<button type="button" class="btn btn-primary btn-xs" ng-click="clear()">clear</button>
  </div>
  <ul>
    <li ng-repeat="ajaxCall in debug.ajaxCalls">
      {{ajaxCall.time}} 
      <strong>
      	<i>{{ajaxCall.method}}: </i>{{ajaxCall.url}} 
      </strong> 
      <span ng-show="ajaxCall.data"><i>Data</i>: <strong>{{ajaxCall.data | json}}</strong></span>
      <br>
      {{ajaxCall.command}}    
    </li>
  </ul>
</div>